#banner{
    margin-top: 50px;
    position: relative;    
}
.banner_img{
    width: 100%;
    height: 100%;
}
.banner_conte{
    position: absolute;
    top: 0;
    left: 0;    
    color: #fff; 
    width: 50%;
    height: 100%;    
    background: rgba(36,36,36, 0.7);    
}
.ban_conte_nom{
    font-size: 16px;    
    position: absolute;
    top: 64px;
    left: 10px;
}
.especi{
    font-size: 14px;
    position: absolute;
    top: 125px;
    left: 10px;
}

.ban_conte_agre:hover{
    background: rgba(51,51,51,0.5);
}
@media(min-width: 600px){
    .ban_conte_nom{
        font-size: 20px;
        top: 75px;
        left: 30px;        
    }
    .especi{
        font-size: 16px;
        top: 155px;
        left: 30px;
    }
    .ban_conte_nom, .especi{
        padding-right: 2px;
    }
}
@media(min-width: 701px){
    .ban_conte_nom{
        font-size: 23px;
        top: 90px;
        left: 25px;        
    }
    .especi{
        font-size: 18px;
        top: 190px;
        left: 25px;
    }
    .ban_conte_nom, .especi{
        padding-right: 10px;
    }
}
@media(min-width: 900px){
    .ban_conte_nom{
        font-size: 26px;
        top: 180px;
        left: 85px;        
    }
    .especi{
        font-size: 20px;
        top: 280px;
        left: 85px;
    }
    .ban_conte_nom, .especi{
        padding-right: 14px;
    }
}
@media(min-width: 1200px){
    .ban_conte_nom{
        font-size: 32px;
        top: 45%;
        left:35%;        
    }
    .especi{
        font-size: 25px;
        top: 70%;
        left: 35%;
    }
    .ban_conte_nom, .especi{
        padding-right: 10px;
    }
}
@media(min-width: 1400px){
    .ban_conte_nom{
        font-size: 32px;
        top: 50%;
        left:40%;        
    }
    .especi{
        font-size: 25px;
        top: 67%;
        left: 40%;
    }
    .ban_conte_nom, .especi{
        padding-right: 10px;
    }
}
@media(min-width: 1650px){
    .ban_conte_nom{
        font-size: 38px;
        top: 45%;
    }
    .especi{
        font-size: 25px;
        top: 62%;
        left: 40%;
    }
}